# Vim swap files
*.swp
*.swo

# Vim backup files
*.bak
*.tmp
*.temp
*.orig

# compilation files
*.o
*.a
*.out
*.exe
*.gch
**/run
*_ft_main.c

# OS files
.DS_Store
Thumbs.db

# +temp files
*.vscode
*.log
*.cache
*.old
*.backup

#testfiles

**/*Test*
